<h1>Welcome Page</h1>
<p>Welcome to Hike Atlas!</p>
<p>Please Log In Or Sign Up.</p>

<% if @current_user %>

  <p>Hello, <%= @current_user.first_name + " " + @current_user.last_name%>!</p>

<% else %>

  <p>Need to login</p>
  <%= link_to "Log In", new_login_path %>

<% end %>
