<!-- INDEX PAGE -->
<div align=center>

	<% if @current_user %>

		<p>Hello, <%= @current_user.first_name + " " + @current_user.last_name%>!</p>

	<% else %>

		<% if flash[:not_authorized] %>
			<p><%= flash[:not_authorized] %></p>
		<% end %>
		<div>
			<h2>Join Hike Atlas Today</h2>
			<ul>
				<li>Search For Hiking Trails Around the World</li>
				<li>Schedule Upcoming Hiking Trips</li>
				<li>Track All Your Hiking Gear</li>
				<li>Add Gear Pack Lists To Your Hikes</li>
			</ul>
		</div>
		<div>
			<%= button_to "Sign Up", new_user_path, method: :get %>
		</div>
		<div>
			<%= button_to "Log In", new_login_path, method: :get %>
		</div>
	<% end %>
</div>