<h1>User Show</h1>
<p>Link to search trails -> trails#index</p>
<p>Link to view inventory -> items#index</p>
<p>List of upcoming hikes -> hikes#show</p>
<p>List of past hikes -> hikes#show</p>
<p>#total_miles</p>
<p>#highest_peak</p>
<p>#longest_ascent</p>