<div>
    <h3 class="title is-3 underline">Upcoming Hikes</h3>
    <ul>
        <% @upcoming_hikes.each do |hike| %>
            <li><%= hike.start_date%> - <%= link_to hike.trail.name, hike_path(hike) %></li>
        <% end%>
    </ul>    
</div>
<br>
<div>
    <h3 class="title is-3 underline">Past Hikes</h3>
        <% @past_hikes.each do |hike| %>
            <p><%= hike.end_date%> - <%= link_to hike.trail.name, hike_path(hike) %></p>
        <% end%>
</div>