//this setting puts borders around every single element so we can view the layout
//comment this out to return to normal
// * {
//     border: 1px solid black
// }


body {
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    height:100vh;
}
.header {
		background-color:#343d3d;
		background-image: url("dark_woods_banner.jpg");
		background-size: cover;
		padding:2rem 1.5rem;
}

.header a:hover {
    text-decoration: none;
}

a:hover {
    text-decoration: none
}

.section {
    display:flex;
    flex:1 0 auto;
		background-color: #1f2525;
		color: white;
}