//this setting puts borders around every single element so we can view the layoutcomment this out to return to normal

// * {
//     border: 1px solid black
// }

body {
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    height:100vh;
}
.header {
    background-color:#343d3d;
    background-image: url("dark_woods_banner.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 50% 50%;
    padding:2rem 1.5rem;
}

.header a:link {
    text-decoration: none;
    color: white;
}
.header a:hover {
    text-decoration: none;
    color: white
}
.header a:visited {
    text-decoration: none;
    color: white;
}
.header a:active {
    text-decoration: none;
    color: white;
}

a:link, a:visited, a:active {
    color: #20a617;
}
a:hover {
    color: #20a617;
    text-decoration: underline;
}

.section {
    display:flex;
    flex:1 0 auto;
    background-color: #1f2525;
    color: white;
}

.is-1, .is-2, .is-3, .is-4, .is-5, .is-6{
    color: white;
}

.label {
	color: white;
}

.input {
    width: 200px;
    display: block;
}

.control {
    margin: 5px 0;
}
.control-login, .control-search {
    margin: 5px;
}

.field {
    justify-content: center;
}

#user_login {
    justify-content: center;
    align-content: center;
}

#errors p {
    color: red;
    justify-content: center;
}

#empty_cat, #item_name, .indent_50 {
    margin-left: 50px
}

#item_attr {
    margin-left: 100px
}

#cat_name, .user_cat, .underline {
    text-decoration: underline;
}

.user_show p {
    margin-left: 50px
}

.sign-up-splash {
    background-color: #3f693c;
    padding: 25px;
    margin: 0 auto;
    border-radius: 5px;
    min-width: 400px;
    max-width: 1000px;
}

.signup-splash-buttons {
    display: inline-flex;
}

.signup-splash-buttons .button {
    margin: 0 10px;
}

.search-results {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 40px;
}

.search-results-trail {
    border: 1px solid white;
    background-color: #3f693c;
    margin: 10px;
    padding: 20px;
    width: 400px;
    min-width: 400px;
    border-radius: 10px;
}

.hike-nav-menu {
    display: inline-flex;
}

.hike-nav-menu .button{
    margin: 0 5px 0 0;
}

.user-items {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.user-item {
    border: 1px solid white;
    background-color: #3f693c;
    padding: 20px;
    width: 400px;
    min-width: 400px;
    border-radius: 10px;
}

.rounded-pics img {
    border-radius: 50px;
    border: 3px solid white;
}