//this setting puts borders around every single element so we can view the layout
//comment this out to return to normal
// * {
//     border: 1px solid black
// }


body {
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    height:100vh;
}
.header {
    background-color:whitesmoke;
    padding:2rem 1.5rem;
}
.section {
    display:flex;
    flex:1 0 auto;
}